<div class="visa-card">
  <div class="card-content">
    <div class="card-header">
      <h3 class="visa-text">VISA</h3>
      <span class="dots-green">•••</span>
    </div>

    <div class="card-number">•••• •••• •••• {{ lastDigits }}</div>

    <div class="card-footer">
      <div class="holder-info">
        <p class="holder-label">Balance</p>
        <p class="holder-name">${{ totalBalance | number:'1.2-2' }}</p>
      </div>
      <div class="expiry-info">
        <p class="expiry-label">Valid Till</p>
        <p class="expiry-date">02/28</p>
      </div>
    </div>
  </div>
</div>
