<div class="visa-card">
  <div class="card-content">
    <div class="card-top">
      <p class="label">Total Balance</p>
      <span class="dots">•••</span>
    </div>

    <p class="amount">
      ${{ totalBalance | number:'1.2-2' }}
    </p>

    <div class="card-bottom">
      <div class="card-digits">2844</div>
      <div class="card-digits">7545</div>
      <div class="card-digits">3807</div>
      <div class="card-digits">1425</div>

      <div class="mastercard">
        <span class="circle red"></span>
        <span class="circle yellow"></span>
      </div>
    </div>
  </div>
</div>
